# Proyecto 02 del 1er Bimestre
## Analítica Presciptiva

### Tarea 1: Importación de datos, limpieza y preprocesamiento

Se debe centrar en importar los datos proporcionados en un formato adecuado para que el análisis posterior sea
más sencillo. También verificar si es necesario realizar alguna limpieza de datos y/o pasos de preprocesamiento.

In [80]:
import numpy as np
import pandas as pd

def calculate_aqi(concentration, pollutant):
   if pollutant == "PM10":
      breakpoints = [0, 54, 154, 254, 354, 424, 504, 604]
   elif pollutant == "SO2":
      breakpoints = [0, 91.7, 196.5, 484.7, 796.48, 1582.48, 2630.48]
   elif pollutant == "NO2":
      breakpoints = [0, 99.64, 188, 676.8, 1220.12, 2348.12, 3852.12]
   elif pollutant == "CO":
      breakpoints = [0, 5060, 10810, 14260, 17710, 34960, 57960]
   elif pollutant == "O3":
      breakpoints = [0, 105.84, 137.2, 166.6, 205.8, 392, 604]
   else:
      return "Invalid pollutant"
   
   index = [0, 50, 100, 150, 200, 300, 400, 500]

   for i in range(len(breakpoints) - 1):
      if concentration >= breakpoints[i] and concentration <= breakpoints[i + 1]:
         aqi = ((index[i + 1] - index[i]) / (breakpoints[i + 1] - breakpoints[i])) * (concentration - breakpoints[i]) + index[i]
         return round(aqi)

   return "Out of range"

In [161]:
df = pd.read_csv(filepath_or_buffer='../data/PRSA_Data_20130301-20170228/PRSA_Data_Aotizhongxin_20130301-20170228.csv',sep=',')

df.head(25)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin
5,6,2013,3,1,5,5.0,5.0,18.0,18.0,400.0,66.0,-2.2,1025.6,-19.6,0.0,N,3.7,Aotizhongxin
6,7,2013,3,1,6,3.0,3.0,18.0,32.0,500.0,50.0,-2.6,1026.5,-19.1,0.0,NNE,2.5,Aotizhongxin
7,8,2013,3,1,7,3.0,6.0,19.0,41.0,500.0,43.0,-1.6,1027.4,-19.1,0.0,NNW,3.8,Aotizhongxin
8,9,2013,3,1,8,3.0,6.0,16.0,43.0,500.0,45.0,0.1,1028.3,-19.2,0.0,NNW,4.1,Aotizhongxin
9,10,2013,3,1,9,3.0,8.0,12.0,28.0,400.0,59.0,1.2,1028.5,-19.3,0.0,N,2.6,Aotizhongxin
10,11,2013,3,1,10,3.0,6.0,9.0,12.0,400.0,72.0,1.9,1028.2,-19.4,0.0,NNW,3.6,Aotizhongxin
11,12,2013,3,1,11,3.0,6.0,9.0,14.0,400.0,71.0,2.9,1028.2,-20.5,0.0,N,3.7,Aotizhongxin
12,13,2013,3,1,12,3.0,6.0,7.0,13.0,300.0,74.0,3.9,1027.3,-19.7,0.0,NNW,5.1,Aotizhongxin
13,14,2013,3,1,13,3.0,6.0,7.0,12.0,400.0,76.0,5.3,1026.2,-19.3,0.0,NW,4.3,Aotizhongxin
14,15,2013,3,1,14,6.0,9.0,7.0,11.0,400.0,77.0,6.0,1025.9,-19.6,0.0,NW,4.4,Aotizhongxin
15,16,2013,3,1,15,8.0,15.0,7.0,14.0,400.0,76.0,6.2,1025.7,-18.6,0.0,NNE,2.8,Aotizhongxin
16,17,2013,3,1,16,9.0,19.0,9.0,13.0,400.0,76.0,5.9,1025.6,-18.1,0.0,NNW,3.9,Aotizhongxin
17,18,2013,3,1,17,10.0,23.0,11.0,15.0,400.0,74.0,4.3,1026.3,-18.7,0.0,NNE,2.8,Aotizhongxin
18,19,2013,3,1,18,11.0,20.0,8.0,20.0,500.0,70.0,3.1,1027.4,-18.4,0.0,NNE,2.1,Aotizhongxin
19,20,2013,3,1,19,8.0,14.0,12.0,30.0,500.0,60.0,2.3,1028.3,-18.4,0.0,N,2.8,Aotizhongxin
20,21,2013,3,1,20,11.0,17.0,13.0,33.0,600.0,55.0,1.7,1029.1,-17.3,0.0,N,2.1,Aotizhongxin
21,22,2013,3,1,21,12.0,18.0,16.0,35.0,500.0,50.0,0.6,1030.1,-16.7,0.0,ENE,0.8,Aotizhongxin
22,23,2013,3,1,22,15.0,19.0,21.0,57.0,700.0,32.0,0.9,1030.5,-17.4,0.0,ENE,1.8,Aotizhongxin
23,24,2013,3,1,23,24.0,24.0,26.0,54.0,600.0,36.0,-0.2,1030.5,-17.4,0.0,ENE,1.4,Aotizhongxin
24,25,2013,3,2,0,22.0,24.0,24.0,44.0,500.0,44.0,-0.4,1031.0,-17.6,0.0,ENE,1.4,Aotizhongxin

In [162]:
df.isnull().sum()

No            0
year          0
month         0
day           0
hour          0
PM2.5       925
PM10        718
SO2         935
NO2        1023
CO         1776
O3         1719
TEMP         20
PRES         20
DEWP         20
RAIN         20
wd           81
WSPM         14
station       0
dtype: int64

In [163]:
df = df.dropna()

df.isnull().sum()

No         0
year       0
month      0
day        0
hour       0
PM2.5      0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
TEMP       0
PRES       0
DEWP       0
RAIN       0
wd         0
WSPM       0
station    0
dtype: int64

In [164]:
df = df.drop(columns=['PM2.5','TEMP','PRES','DEWP','RAIN','wd','WSPM'])

combine_lambda = lambda x: '{}-{:02d}-{:02d}'.format(x.year, x.month, x.day)

# df['date'] = df['year'].astype(str) + '-' + df['month'].astype(str)

df['date'] = df.apply(combine_lambda, axis = 1)

df = df.drop(columns=['year','month','day'])

df.head(25)

    No  hour  PM10   SO2   NO2     CO    O3       station        date
0    1     0   4.0   4.0   7.0  300.0  77.0  Aotizhongxin  2013-03-01
1    2     1   8.0   4.0   7.0  300.0  77.0  Aotizhongxin  2013-03-01
2    3     2   7.0   5.0  10.0  300.0  73.0  Aotizhongxin  2013-03-01
3    4     3   6.0  11.0  11.0  300.0  72.0  Aotizhongxin  2013-03-01
4    5     4   3.0  12.0  12.0  300.0  72.0  Aotizhongxin  2013-03-01
5    6     5   5.0  18.0  18.0  400.0  66.0  Aotizhongxin  2013-03-01
6    7     6   3.0  18.0  32.0  500.0  50.0  Aotizhongxin  2013-03-01
7    8     7   6.0  19.0  41.0  500.0  43.0  Aotizhongxin  2013-03-01
8    9     8   6.0  16.0  43.0  500.0  45.0  Aotizhongxin  2013-03-01
9   10     9   8.0  12.0  28.0  400.0  59.0  Aotizhongxin  2013-03-01
10  11    10   6.0   9.0  12.0  400.0  72.0  Aotizhongxin  2013-03-01
11  12    11   6.0   9.0  14.0  400.0  71.0  Aotizhongxin  2013-03-01
12  13    12   6.0   7.0  13.0  300.0  74.0  Aotizhongxin  2013-03-01
13  14    13   6.0   7.0  12.0  400.0  76.0  Aotizhongxin  2013-03-01
14  15    14   9.0   7.0  11.0  400.0  77.0  Aotizhongxin  2013-03-01
15  16    15  15.0   7.0  14.0  400.0  76.0  Aotizhongxin  2013-03-01
16  17    16  19.0   9.0  13.0  400.0  76.0  Aotizhongxin  2013-03-01
17  18    17  23.0  11.0  15.0  400.0  74.0  Aotizhongxin  2013-03-01
18  19    18  20.0   8.0  20.0  500.0  70.0  Aotizhongxin  2013-03-01
19  20    19  14.0  12.0  30.0  500.0  60.0  Aotizhongxin  2013-03-01
20  21    20  17.0  13.0  33.0  600.0  55.0  Aotizhongxin  2013-03-01
21  22    21  18.0  16.0  35.0  500.0  50.0  Aotizhongxin  2013-03-01
22  23    22  19.0  21.0  57.0  700.0  32.0  Aotizhongxin  2013-03-01
23  24    23  24.0  26.0  54.0  600.0  36.0  Aotizhongxin  2013-03-01
24  25     0  24.0  24.0  44.0  500.0  44.0  Aotizhongxin  2013-03-02

In [175]:
df2 = df.groupby('date').agg(
    PM10=('PM10','mean'),
    SO2 = ('SO2','mean'),
    NO2 = ('NO2','mean'),
    CO = ('CO','max'),
    O3 = ('O3','max')
    )

df2

                  PM10        SO2         NO2      CO     O3
date
2013-03-01   10.750000  11.708333   22.583333   700.0   77.0
2013-03-02   42.083333  36.625000   66.666667  1700.0   52.0
2013-03-03  120.541667  61.291667   81.000000  2799.0   77.0
2013-03-04   45.523810  24.095238   50.190476  1300.0   84.0
2013-03-05  183.791667  93.875000  132.833333  4400.0   84.0
...                ...        ...         ...     ...    ...
2017-02-24   32.625000  16.583333   58.875000  1100.0  109.0
2017-02-25   19.708333   6.750000   43.375000   700.0  117.0
2017-02-26   40.708333  10.083333   65.375000  1800.0   97.0
2017-02-27   93.571429  18.809524   98.000000  2400.0  118.0
2017-02-28   23.291667   9.125000   38.291667  1400.0  122.0

[1427 rows x 5 columns]

In [177]:

aqi_lambda_pm10 = lambda x: calculate_aqi(x.PM10, 'PM10')
aqi_lambda_so2 = lambda x: calculate_aqi(x.SO2, 'SO2')
aqi_lambda_no2 = lambda x: calculate_aqi(x.NO2, 'NO2')
aqi_lambda_co = lambda x: calculate_aqi(x.CO, 'CO')
aqi_lambda_o3 = lambda x: calculate_aqi(x.O3, 'O3')

df2['I_PM10'] = df2.apply(aqi_lambda_pm10,axis=1)
df2['I_SO2'] = df2.apply(aqi_lambda_so2,axis=1)
df2['I_NO2'] = df2.apply(aqi_lambda_no2,axis=1)
df2['I_CO'] = df2.apply(aqi_lambda_co,axis=1)
df2['I_O3'] = df2.apply(aqi_lambda_o3,axis=1)

df2

,PM10,SO2,NO2,CO,O3,I_PM10,I_SO2,I_NO2,I_CO,I_O3
date,,,,,,,,,,
2013-03-01,10.750000,11.708333,22.583333,700.0,77.0,10,6,11,7,36
2013-03-02,42.083333,36.625000,66.666667,1700.0,52.0,39,20,33,17,25
2013-03-03,120.541667,61.291667,81.000000,2799.0,77.0,83,33,41,28,36
2013-03-04,45.523810,24.095238,50.190476,1300.0,84.0,42,13,25,13,40
2013-03-05,183.791667,93.875000,132.833333,4400.0,84.0,115,51,69,43,40
...,...,...,...,...,...,...,...,...,...,...
2017-02-24,32.625000,16.583333,58.875000,1100.0,109.0,30,9,30,11,55
2017-02-25,19.708333,6.750000,43.375000,700.0,117.0,18,4,22,7,68
2017-02-26,40.708333,10.083333,65.375000,1800.0,97.0,38,5,33,18,46
2017-02-27,93.571429,18.809524,98.000000,2400.0,118.0,70,10,49,24,69
2017-02-28,23.291667,9.125000,38.291667,1400.0,122.0,22,5,19,14,76

In [182]:
a = "Invalid pollutant"
b= "Out of range"

if a in df2['I_PM10']:
    print(str(a) + ' is inside the list')

if b in df2['I_PM10']:
    print(str(b) + ' is inside the list')

In [183]:
df2['I_MAX'] = df2[['I_PM10','I_SO2','I_NO2','I_CO','I_O3']].max(axis=1)

df2

,PM10,SO2,NO2,CO,O3,I_PM10,I_SO2,I_NO2,I_CO,I_O3,I_MAX
date,,,,,,,,,,,
2013-03-01,10.750000,11.708333,22.583333,700.0,77.0,10,6,11,7,36,36
2013-03-02,42.083333,36.625000,66.666667,1700.0,52.0,39,20,33,17,25,39
2013-03-03,120.541667,61.291667,81.000000,2799.0,77.0,83,33,41,28,36,83
2013-03-04,45.523810,24.095238,50.190476,1300.0,84.0,42,13,25,13,40,42
2013-03-05,183.791667,93.875000,132.833333,4400.0,84.0,115,51,69,43,40,115
...,...,...,...,...,...,...,...,...,...,...,...
2017-02-24,32.625000,16.583333,58.875000,1100.0,109.0,30,9,30,11,55,55
2017-02-25,19.708333,6.750000,43.375000,700.0,117.0,18,4,22,7,68,68
2017-02-26,40.708333,10.083333,65.375000,1800.0,97.0,38,5,33,18,46,46
2017-02-27,93.571429,18.809524,98.000000,2400.0,118.0,70,10,49,24,69,70
2017-02-28,23.291667,9.125000,38.291667,1400.0,122.0,22,5,19,14,76,76

In [194]:
niveles = [0,50,100,150,200,250,300,600]
labels = ['Excelent','Good','Slightly Polluted','Lightly Polluted','Moderately Polluted','Heavily Polluted','Severely Polluted']

df2['AQI_LEVEL'] = pd.cut(df2.I_MAX,niveles,labels=labels)

df2

,PM10,SO2,NO2,CO,O3,I_PM10,I_SO2,I_NO2,I_CO,I_O3,I_MAX,AQI_LEVEL
date,,,,,,,,,,,,
2013-03-01,10.750000,11.708333,22.583333,700.0,77.0,10,6,11,7,36,36,Excelent
2013-03-02,42.083333,36.625000,66.666667,1700.0,52.0,39,20,33,17,25,39,Excelent
2013-03-03,120.541667,61.291667,81.000000,2799.0,77.0,83,33,41,28,36,83,Good
2013-03-04,45.523810,24.095238,50.190476,1300.0,84.0,42,13,25,13,40,42,Excelent
2013-03-05,183.791667,93.875000,132.833333,4400.0,84.0,115,51,69,43,40,115,Slightly Polluted
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-02-24,32.625000,16.583333,58.875000,1100.0,109.0,30,9,30,11,55,55,Good
2017-02-25,19.708333,6.750000,43.375000,700.0,117.0,18,4,22,7,68,68,Good
2017-02-26,40.708333,10.083333,65.375000,1800.0,97.0,38,5,33,18,46,46,Excelent
2017-02-27,93.571429,18.809524,98.000000,2400.0,118.0,70,10,49,24,69,70,Good
2017-02-28,23.291667,9.125000,38.291667,1400.0,122.0,22,5,19,14,76,76,Good

### Tarea 2: Análisis exploratorio de datos

Resumir y visualizar los datos de las formas útiles. Los estudiantes deben pensar en preguntas interesantes que
se podrían comprobar con los datos disponibles y dar respuestas textuales o mediante visualización de datos.

### Tarea 3: Modelado predictivo

Se debe definir una tarea predictiva que pueda ayudar a predecir la contaminación del aire, a través del valor del
AQI o del Nivel de Contaminación del Aire, en función de sus características. Después de definir la tarea, se debe
utilizar los datos disponibles para seleccionar y obtener un buen modelo para esta tarea. Se debe justificar el
modelo sugerido.