# Proyecto 02 del 1er Bimestre
## Analítica Presciptiva

### Tarea 1: Importación de datos, limpieza y preprocesamiento

Se debe centrar en importar los datos proporcionados en un formato adecuado para que el análisis posterior sea
más sencillo. También verificar si es necesario realizar alguna limpieza de datos y/o pasos de preprocesamiento.

Importación de librerias

In [244]:
import numpy as np
import pandas as pd

Se crea la función para calcular el AQI en base a The EPA's table of breakpoints.  

|O3(ppb)|O3(ppb)|PM2.5(ug/m3)|PM10(ug/m3)|CO(ppm)|SO2(ppb)|NO2(ppb)|AQI|
|-------|-------|------------|-----------|-------|--------|--------|---|
|0–54|-|0.0–12.0|0–54|0.0–4.4|0–35|0–53|0–50|
|(8-hr)||(24-hr)|(24-hr)|(8-hr)|(1-hr)|(1-hr)|
|55–70|-|12.1–35.4|55–154|4.5–9.4|36–75|54–100|51–100|
|(8-hr)||(24-hr)|(24-hr)|(8-hr)|(1-hr)|(1-hr)|
|71–85|125–164|35.5–55.4|155–254|9.5–12.4|76–185|101–360|101–150|
|(8-hr)|(1-hr)|(24-hr)|(24-hr)|(8-hr)|(1-hr)|(1-hr)||
|86–105|165–204|55.5–150.4|255–354|12.5–15.4|186–304|361–649|151–200|
|(8-hr)|(1-hr)|(24-hr)|(24-hr)|(8-hr)|(1-hr)|(1-hr)||
|106–200|205–404|150.5–250.4|355–424|15.5–30.4|305–604|650–1249|201–300|
|(8-hr)|(1-hr)|(24-hr)|(24-hr)|(8-hr)|(24-hr)|(1-hr)||
|—|405–504|250.5–350.4|425–504|30.5–40.4|605–804|1250–1649|301–400|
||(1-hr)|(24-hr)|(24-hr)|(8-hr)|(24-hr)|(1-hr)||
|—|505–604|350.5–500.4|505–604|40.5–50.4|805–1004|1650–2049|401–500|
||(1-hr)|(24-hr)|(24-hr)|(8-hr)|(24-hr)|(1-hr)||
  
Fuente: https://en.wikipedia.org/wiki/Air_quality_index

  
Estos valores fueron transformados de ppb o ppm a ug/m3 en base a la siguiente tabla de conversión:

|Air Pollutant|Conversion Factor|
|-------------|-----------------|
|Sulphur dioxide (SO2)  |1 ppb = 2.62 µg/m3  |
|Nitrogen dioxide (NO2) |1 ppb = 1.88 µg/m3  |
|Carbon monoxide (CO)   |1 ppb = 1.15 µg/m3  |
|Ozone (O3)             |1 ppb = 1.96 µg/m3  |
  
Fuente: https://www.breeze-technologies.de/blog/air-pollution-how-to-convert-between-mgm3-%C2%B5gm3-ppm-ppb/

In [245]:
def calculate_aqi(concentration, pollutant):
   if pollutant == "PM10":
      breakpoints = [0, 54, 154, 254, 354, 424, 504, 604]
   elif pollutant == "SO2":
      breakpoints = [0, 91.7, 196.5, 484.7, 796.48, 1582.48, 2630.48]
   elif pollutant == "NO2":
      breakpoints = [0, 99.64, 188, 676.8, 1220.12, 2348.12, 3852.12]
   elif pollutant == "CO":
      breakpoints = [0, 5060, 10810, 14260, 17710, 34960, 57960]
   elif pollutant == "O3":
      breakpoints = [0, 105.84, 137.2, 166.6, 205.8, 392, 604]
   else:
      return "Invalid pollutant"
   
   index = [0, 50, 100, 150, 200, 300, 400, 500]

   for i in range(len(breakpoints) - 1):
      if concentration >= breakpoints[i] and concentration <= breakpoints[i + 1]:
         aqi = ((index[i + 1] - index[i]) / (breakpoints[i + 1] - breakpoints[i])) * (concentration - breakpoints[i]) + index[i]
         return round(aqi)

   return "Out of range"

Se lee el archivo csv a dataframe

In [387]:
df = pd.read_csv(filepath_or_buffer='../data/PRSA_Data_20130301-20170228/PRSA_Data_Aotizhongxin_20130301-20170228.csv',sep=',')
# df = pd.read_csv(filepath_or_buffer='../data/PRSA_Data_20130301-20170228/PRSA_Data_Changping_20130301-20170228.csv',sep=',')
# df = pd.read_csv(filepath_or_buffer='../data/PRSA_Data_20130301-20170228/PRSA_Data_Dingling_20130301-20170228.csv',sep=',')

df.head(25)

,No,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,1,2013,3,1,0,4.0,4.0,4.0,7.0,300.0,77.0,-0.7,1023.0,-18.8,0.0,NNW,4.4,Aotizhongxin
1,2,2013,3,1,1,8.0,8.0,4.0,7.0,300.0,77.0,-1.1,1023.2,-18.2,0.0,N,4.7,Aotizhongxin
2,3,2013,3,1,2,7.0,7.0,5.0,10.0,300.0,73.0,-1.1,1023.5,-18.2,0.0,NNW,5.6,Aotizhongxin
3,4,2013,3,1,3,6.0,6.0,11.0,11.0,300.0,72.0,-1.4,1024.5,-19.4,0.0,NW,3.1,Aotizhongxin
4,5,2013,3,1,4,3.0,3.0,12.0,12.0,300.0,72.0,-2.0,1025.2,-19.5,0.0,N,2.0,Aotizhongxin
5,6,2013,3,1,5,5.0,5.0,18.0,18.0,400.0,66.0,-2.2,1025.6,-19.6,0.0,N,3.7,Aotizhongxin
6,7,2013,3,1,6,3.0,3.0,18.0,32.0,500.0,50.0,-2.6,1026.5,-19.1,0.0,NNE,2.5,Aotizhongxin
7,8,2013,3,1,7,3.0,6.0,19.0,41.0,500.0,43.0,-1.6,1027.4,-19.1,0.0,NNW,3.8,Aotizhongxin
8,9,2013,3,1,8,3.0,6.0,16.0,43.0,500.0,45.0,0.1,1028.3,-19.2,0.0,NNW,4.1,Aotizhongxin
9,10,2013,3,1,9,3.0,8.0,12.0,28.0,400.0,59.0,1.2,1028.5,-19.3,0.0,N,2.6,Aotizhongxin
10,11,2013,3,1,10,3.0,6.0,9.0,12.0,400.0,72.0,1.9,1028.2,-19.4,0.0,NNW,3.6,Aotizhongxin
11,12,2013,3,1,11,3.0,6.0,9.0,14.0,400.0,71.0,2.9,1028.2,-20.5,0.0,N,3.7,Aotizhongxin
12,13,2013,3,1,12,3.0,6.0,7.0,13.0,300.0,74.0,3.9,1027.3,-19.7,0.0,NNW,5.1,Aotizhongxin
13,14,2013,3,1,13,3.0,6.0,7.0,12.0,400.0,76.0,5.3,1026.2,-19.3,0.0,NW,4.3,Aotizhongxin
14,15,2013,3,1,14,6.0,9.0,7.0,11.0,400.0,77.0,6.0,1025.9,-19.6,0.0,NW,4.4,Aotizhongxin
15,16,2013,3,1,15,8.0,15.0,7.0,14.0,400.0,76.0,6.2,1025.7,-18.6,0.0,NNE,2.8,Aotizhongxin
16,17,2013,3,1,16,9.0,19.0,9.0,13.0,400.0,76.0,5.9,1025.6,-18.1,0.0,NNW,3.9,Aotizhongxin
17,18,2013,3,1,17,10.0,23.0,11.0,15.0,400.0,74.0,4.3,1026.3,-18.7,0.0,NNE,2.8,Aotizhongxin
18,19,2013,3,1,18,11.0,20.0,8.0,20.0,500.0,70.0,3.1,1027.4,-18.4,0.0,NNE,2.1,Aotizhongxin
19,20,2013,3,1,19,8.0,14.0,12.0,30.0,500.0,60.0,2.3,1028.3,-18.4,0.0,N,2.8,Aotizhongxin
20,21,2013,3,1,20,11.0,17.0,13.0,33.0,600.0,55.0,1.7,1029.1,-17.3,0.0,N,2.1,Aotizhongxin
21,22,2013,3,1,21,12.0,18.0,16.0,35.0,500.0,50.0,0.6,1030.1,-16.7,0.0,ENE,0.8,Aotizhongxin
22,23,2013,3,1,22,15.0,19.0,21.0,57.0,700.0,32.0,0.9,1030.5,-17.4,0.0,ENE,1.8,Aotizhongxin
23,24,2013,3,1,23,24.0,24.0,26.0,54.0,600.0,36.0,-0.2,1030.5,-17.4,0.0,ENE,1.4,Aotizhongxin
24,25,2013,3,2,0,22.0,24.0,24.0,44.0,500.0,44.0,-0.4,1031.0,-17.6,0.0,ENE,1.4,Aotizhongxin

Se limpian las columnas que no son necesarias.  
Se concatena year-month-day con el siguiente formato AAAA-MM-DD para manejar de mejor manera los datos para agrupar por día.

In [388]:
df = df.drop(columns=['No','PM2.5','TEMP','PRES','DEWP','RAIN','wd','WSPM'], errors='ignore')

combine_lambda = lambda x: '{}-{:02d}-{:02d}'.format(x.year, x.month, x.day)

# df['date'] = df['year'].astype(str) + '-' + df['month'].astype(str)

df['date'] = df.apply(combine_lambda, axis = 1)

df = df.drop(columns=['year','month','day'], errors='ignore')

df.head(25)

    hour  PM10   SO2   NO2     CO    O3       station        date
0      0   4.0   4.0   7.0  300.0  77.0  Aotizhongxin  2013-03-01
1      1   8.0   4.0   7.0  300.0  77.0  Aotizhongxin  2013-03-01
2      2   7.0   5.0  10.0  300.0  73.0  Aotizhongxin  2013-03-01
3      3   6.0  11.0  11.0  300.0  72.0  Aotizhongxin  2013-03-01
4      4   3.0  12.0  12.0  300.0  72.0  Aotizhongxin  2013-03-01
5      5   5.0  18.0  18.0  400.0  66.0  Aotizhongxin  2013-03-01
6      6   3.0  18.0  32.0  500.0  50.0  Aotizhongxin  2013-03-01
7      7   6.0  19.0  41.0  500.0  43.0  Aotizhongxin  2013-03-01
8      8   6.0  16.0  43.0  500.0  45.0  Aotizhongxin  2013-03-01
9      9   8.0  12.0  28.0  400.0  59.0  Aotizhongxin  2013-03-01
10    10   6.0   9.0  12.0  400.0  72.0  Aotizhongxin  2013-03-01
11    11   6.0   9.0  14.0  400.0  71.0  Aotizhongxin  2013-03-01
12    12   6.0   7.0  13.0  300.0  74.0  Aotizhongxin  2013-03-01
13    13   6.0   7.0  12.0  400.0  76.0  Aotizhongxin  2013-03-01
14    14   9.0   7.0  11.0  400.0  77.0  Aotizhongxin  2013-03-01
15    15  15.0   7.0  14.0  400.0  76.0  Aotizhongxin  2013-03-01
16    16  19.0   9.0  13.0  400.0  76.0  Aotizhongxin  2013-03-01
17    17  23.0  11.0  15.0  400.0  74.0  Aotizhongxin  2013-03-01
18    18  20.0   8.0  20.0  500.0  70.0  Aotizhongxin  2013-03-01
19    19  14.0  12.0  30.0  500.0  60.0  Aotizhongxin  2013-03-01
20    20  17.0  13.0  33.0  600.0  55.0  Aotizhongxin  2013-03-01
21    21  18.0  16.0  35.0  500.0  50.0  Aotizhongxin  2013-03-01
22    22  19.0  21.0  57.0  700.0  32.0  Aotizhongxin  2013-03-01
23    23  24.0  26.0  54.0  600.0  36.0  Aotizhongxin  2013-03-01
24     0  24.0  24.0  44.0  500.0  44.0  Aotizhongxin  2013-03-02

Se verifica si hay valores nulos o NaN.

In [389]:
df.isnull().sum()

hour          0
PM10        718
SO2         935
NO2        1023
CO         1776
O3         1719
station       0
date          0
dtype: int64

Se limpia los valores nulos o NaN.  
Se vuelve a verificar.

In [390]:
df = df.dropna()

df.isnull().sum()

hour       0
PM10       0
SO2        0
NO2        0
CO         0
O3         0
station    0
date       0
dtype: int64

Con la nueva columna "date" se agrupan los datos.  
Se calcula el mean de MP10, SO2 y NO2 y el max de CO y O3.

In [391]:
df2 = df.groupby('date').agg(
    PM10=('PM10','mean'),
    SO2 = ('SO2','mean'),
    NO2 = ('NO2','mean'),
    CO = ('CO','max'),
    O3 = ('O3','max')
    ).reset_index()

df2

            date        PM10        SO2         NO2      CO     O3
0     2013-03-01   10.750000  11.708333   22.583333   700.0   77.0
1     2013-03-02   42.083333  36.625000   66.666667  1700.0   52.0
2     2013-03-03  120.541667  61.291667   81.000000  2799.0   77.0
3     2013-03-04   45.523810  24.095238   50.190476  1300.0   84.0
4     2013-03-05  183.791667  93.875000  132.833333  4400.0   84.0
...          ...         ...        ...         ...     ...    ...
1422  2017-02-24   32.625000  16.583333   58.875000  1100.0  109.0
1423  2017-02-25   19.708333   6.750000   43.375000   700.0  117.0
1424  2017-02-26   40.708333  10.083333   65.375000  1800.0   97.0
1425  2017-02-27   93.571429  18.809524   98.000000  2400.0  118.0
1426  2017-02-28   23.291667   9.125000   38.291667  1400.0  122.0

[1427 rows x 6 columns]

Con una función lambda se llama a la función para calcular el AQI de cada gas previamente preprocesado.

In [401]:

aqi_lambda_pm10 = lambda x: calculate_aqi(x.PM10, 'PM10')
aqi_lambda_so2 = lambda x: calculate_aqi(x.SO2, 'SO2')
aqi_lambda_no2 = lambda x: calculate_aqi(x.NO2, 'NO2')
aqi_lambda_co = lambda x: calculate_aqi(x.CO, 'CO')
aqi_lambda_o3 = lambda x: calculate_aqi(x.O3, 'O3')

df2['I_PM10'] = df2.apply(aqi_lambda_pm10,axis=1)
df2['I_SO2'] = df2.apply(aqi_lambda_so2,axis=1)
df2['I_NO2'] = df2.apply(aqi_lambda_no2,axis=1)
df2['I_CO'] = df2.apply(aqi_lambda_co,axis=1)
df2['I_O3'] = df2.apply(aqi_lambda_o3,axis=1)

df2.head(10)

,date,PM10,SO2,NO2,CO,O3,I_PM10,I_SO2,I_NO2,I_CO,I_O3,AQI,AIR_LEVEL
0,2013-03-01,10.750000,11.708333,22.583333,700.0,77.0,10,6,11,7,36,36,Excelent
1,2013-03-02,42.083333,36.625000,66.666667,1700.0,52.0,39,20,33,17,25,39,Excelent
2,2013-03-03,120.541667,61.291667,81.000000,2799.0,77.0,83,33,41,28,36,83,Good
3,2013-03-04,45.523810,24.095238,50.190476,1300.0,84.0,42,13,25,13,40,42,Excelent
4,2013-03-05,183.791667,93.875000,132.833333,4400.0,84.0,115,51,69,43,40,115,Slightly Polluted
5,2013-03-06,267.869565,117.652174,142.130435,4200.0,28.0,157,62,74,42,13,157,Lightly Polluted
6,2013-03-07,316.083333,97.541667,147.750000,5700.0,84.0,181,53,77,56,40,181,Lightly Polluted
7,2013-03-08,259.450000,65.900000,111.900000,5200.0,84.0,153,36,57,51,40,153,Lightly Polluted
8,2013-03-09,211.086957,34.347826,46.521739,2600.0,82.0,129,19,23,26,39,129,Slightly Polluted
9,2013-03-10,68.916667,22.916667,49.666667,1500.0,84.0,57,12,25,15,40,57,Good

Con los valores de AQI de cada Gas se calcula el valor Final de AQI.

In [393]:
df2['AQI'] = df2[['I_PM10','I_SO2','I_NO2','I_CO','I_O3']].max(axis=1)

df2

,date,PM10,SO2,NO2,CO,O3,I_PM10,I_SO2,I_NO2,I_CO,I_O3,AQI
0,2013-03-01,10.750000,11.708333,22.583333,700.0,77.0,10,6,11,7,36,36
1,2013-03-02,42.083333,36.625000,66.666667,1700.0,52.0,39,20,33,17,25,39
2,2013-03-03,120.541667,61.291667,81.000000,2799.0,77.0,83,33,41,28,36,83
3,2013-03-04,45.523810,24.095238,50.190476,1300.0,84.0,42,13,25,13,40,42
4,2013-03-05,183.791667,93.875000,132.833333,4400.0,84.0,115,51,69,43,40,115
...,...,...,...,...,...,...,...,...,...,...,...,...
1422,2017-02-24,32.625000,16.583333,58.875000,1100.0,109.0,30,9,30,11,55,55
1423,2017-02-25,19.708333,6.750000,43.375000,700.0,117.0,18,4,22,7,68,68
1424,2017-02-26,40.708333,10.083333,65.375000,1800.0,97.0,38,5,33,18,46,46
1425,2017-02-27,93.571429,18.809524,98.000000,2400.0,118.0,70,10,49,24,69,70
1426,2017-02-28,23.291667,9.125000,38.291667,1400.0,122.0,22,5,19,14,76,76

Con el valor Final de AQI se añade el Nivel de Contaminación del Aire.

In [394]:
niveles = [0,50,100,150,200,250,300,600]
labels = ['Excelent','Good','Slightly Polluted','Lightly Polluted','Moderately Polluted','Heavily Polluted','Severely Polluted']

df2['AIR_LEVEL'] = pd.cut(df2.AQI,niveles,labels=labels)

df2.head(20)

,date,PM10,SO2,NO2,CO,O3,I_PM10,I_SO2,I_NO2,I_CO,I_O3,AQI,AIR_LEVEL
0,2013-03-01,10.750000,11.708333,22.583333,700.0,77.0,10,6,11,7,36,36,Excelent
1,2013-03-02,42.083333,36.625000,66.666667,1700.0,52.0,39,20,33,17,25,39,Excelent
2,2013-03-03,120.541667,61.291667,81.000000,2799.0,77.0,83,33,41,28,36,83,Good
3,2013-03-04,45.523810,24.095238,50.190476,1300.0,84.0,42,13,25,13,40,42,Excelent
4,2013-03-05,183.791667,93.875000,132.833333,4400.0,84.0,115,51,69,43,40,115,Slightly Polluted
5,2013-03-06,267.869565,117.652174,142.130435,4200.0,28.0,157,62,74,42,13,157,Lightly Polluted
6,2013-03-07,316.083333,97.541667,147.750000,5700.0,84.0,181,53,77,56,40,181,Lightly Polluted
7,2013-03-08,259.450000,65.900000,111.900000,5200.0,84.0,153,36,57,51,40,153,Lightly Polluted
8,2013-03-09,211.086957,34.347826,46.521739,2600.0,82.0,129,19,23,26,39,129,Slightly Polluted
9,2013-03-10,68.916667,22.916667,49.666667,1500.0,84.0,57,12,25,15,40,57,Good
10,2013-03-11,178.291667,86.875000,90.666667,2600.0,84.0,112,47,45,26,40,112,Slightly Polluted
11,2013-03-12,116.739130,25.521739,72.521739,2100.0,47.0,81,14,36,21,22,81,Good
12,2013-03-13,19.333333,16.250000,36.083333,800.0,77.0,18,9,18,8,36,36,Excelent
13,2013-03-14,107.291667,51.916667,70.375000,1700.0,77.0,77,28,35,17,36,77,Good
14,2013-03-15,250.625000,75.583333,99.416667,3200.0,52.0,148,41,50,32,25,148,Slightly Polluted
15,2013-03-16,254.695652,70.782609,89.608696,3299.0,94.0,150,39,45,33,44,150,Slightly Polluted
16,2013-03-17,309.666667,73.666667,113.875000,3500.0,107.0,178,40,58,35,52,178,Lightly Polluted
17,2013-03-18,118.041667,19.625000,46.166667,4099.0,107.0,82,11,23,41,52,82,Good
18,2013-03-19,52.000000,17.235294,46.352941,1200.0,36.0,48,9,23,12,17,48,Excelent
19,2013-03-20,47.791667,12.500000,41.541667,1300.0,70.0,44,7,21,13,33,44,Excelent

### Tarea 2: Análisis exploratorio de datos

Resumir y visualizar los datos de las formas útiles. Los estudiantes deben pensar en preguntas interesantes que
se podrían comprobar con los datos disponibles y dar respuestas textuales o mediante visualización de datos.

### Tarea 3: Modelado predictivo

Se debe definir una tarea predictiva que pueda ayudar a predecir la contaminación del aire, a través del valor del
AQI o del Nivel de Contaminación del Aire, en función de sus características. Después de definir la tarea, se debe
utilizar los datos disponibles para seleccionar y obtener un buen modelo para esta tarea. Se debe justificar el
modelo sugerido.

In [395]:
from sklearn.model_selection import train_test_split

X = df2[['I_PM10','I_SO2','I_NO2','I_CO','I_O3']]
y = df2['AIR_LEVEL']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [396]:
from sklearn.svm import SVC

model = SVC()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print(model.classes_)
print(y_test[:20])
print(y_pred[:20])

['Excelent' 'Good' 'Heavily Polluted' 'Lightly Polluted'
 'Moderately Polluted' 'Severely Polluted' 'Slightly Polluted']
123     Moderately Polluted
1189    Moderately Polluted
462       Slightly Polluted
351                    Good
1009               Excelent
665                    Good
756     Moderately Polluted
527       Slightly Polluted
70                     Good
554                    Good
332       Slightly Polluted
994                    Good
1182    Moderately Polluted
1066       Lightly Polluted
310                    Good
1305                   Good
218                Excelent
78        Slightly Polluted
270        Lightly Polluted
51        Slightly Polluted
Name: AIR_LEVEL, dtype: category
Categories (7, object): ['Excelent' < 'Good' < 'Slightly Polluted' < 'Lightly Polluted' < 'Moderately Polluted' < 'Heavily Polluted' < 'Severely Polluted']
['Moderately Polluted' 'Moderately Polluted' 'Slightly Polluted' 'Good'
 'Excelent' 'Good' 'Moderately Polluted' 'Slightly Polluted' 'Good' 'Good'
 'Slightly Polluted' 'Good' 'Moderately Polluted' 'Lightly Polluted'
 'Good' 'Good' 'Excelent' 'Good' 'Lightly Polluted' 'Slightly Polluted']

In [397]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='micro')
recall = recall_score(y_test, y_pred, average='micro')
f1 = f1_score(y_test, y_pred, average='micro')

print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Accuracy: 0.9067599067599068
Precision: 0.9067599067599068
Recall: 0.9067599067599068
F1 Score: 0.9067599067599067

In [398]:
from sklearn.model_selection import cross_val_score

scores = cross_val_score(model, X, y, cv=5)
print("Cross-Validation Scores:", scores)
print("Average Accuracy:", scores.mean())

Cross-Validation Scores: [0.94055944 0.87762238 0.92982456 0.9122807  0.89473684]
Average Accuracy: 0.9110047846889952

In [399]:
from sklearn.model_selection import GridSearchCV

param_grid = {'C': [0.1, 1, 10], 'kernel': ['linear', 'rbf']}
grid_search = GridSearchCV(model, param_grid, cv=5)
grid_search.fit(X_train, y_train)

best_params = grid_search.best_params_
best_model = grid_search.best_estimator_
print('Best parameters', best_params)
print('Best models', best_model)

c:\Program Files\Python310\lib\site-packages\sklearn\model_selection\_split.py:700: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=5.
  warnings.warn(

Best parameters {'C': 10, 'kernel': 'rbf'}
Best models SVC(C=10)

In [402]:
df2[df2['date']=='2013-10-01']

,date,PM10,SO2,NO2,CO,O3,I_PM10,I_SO2,I_NO2,I_CO,I_O3,AQI,AIR_LEVEL
204,2013-10-01,124.733333,12.6,71.733333,2200.0,44.0,85,7,36,22,21,85,Good